*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Display', sans-serif;
}

.Nav-Wrapper{
    color: white;
    background: #131315;
    margin: 2% 6%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 500;
}

.Nav-Menus-Wrapper a{
    text-decoration: none;
    color: white;
    margin-inline: 2em;
}